{% extends "admin/base_site.html" %}

{% block content %}
<h1>{{ title }}</h1>
<p>Общее количество клиентов: {{ stats.total_clients }}</p>
<p>Общее количество заказов: {{ stats.total_orders }}</p>

<h2>Заказы по клиентам:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ФИО клиента</th>
            <th>Количество заказов</th>
        </tr>
    </thead>
    <tbody>
        {% for order in stats.orders_per_client %}
        <tr>
            <td>{{ order.client__full_name }}</td>
            <td>{{ order.count }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Нет заказов для клиентов.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}